.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 992px) {
    .container {
        max-width: 1440px;
    }
}